<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <connectionStrings>
    <add name="Mysql" 
         connectionString="Server=127.0.0.1;Database=Mundial;Uid=root;Pwd='';" 
         providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  
</configuration>
